<?xml version="1.0" ?>
<model>
    <name>maze_5x5</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Enrico Sutera</name>
        <email>enricosutera@outlook.com</email>
    </author>
    <description>Simple 5 by 5  meters maze-like environment</description>
</model>
